.detail-specialty-container{
    .description-specialty{
        padding: 10px;
        background-color: white !important;
        margin-top: 15px 0;
        h1,h2,h3{
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }

    }
    .search-sp-doctor{
        select{
            height: 30px;
            padding: 5px 8px;
            border: none;
        }
    }
}
