.manage-specialty-container {
    padding: 0 15px;
    .ms-title {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        margin: 10px 0;
    }
    .add-new-specialty-row {
        .btn-save-specialty {
            margin: 15px 0;
            border:none;
            background: orange;
            padding: 8px 15px;
            border-radius: 3px;
            min-width: 75px;
        }
    }
}