.manage-clinic-container{
    padding: 0 15px;
    .ms-title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        font-size: 17px;
    }
    .add-new-clinic-row{
        .btn-save-clinic{
            margin: 15px 0;
            border: none;
            background: orange;
            padding: 8px 15px;
            border-radius: 3px;
            min-width: 75px;
        }
    }
}